{
  "parserOptions": {
    "project": true
  },
  "overrides": [
    {
      "files": ["./src/**/*.ts?(x)"],
      "extends": [
        "plugin:jsx-a11y/recommended",
        "next",
        "plugin:prettier/recommended"
      ]
    },
    {
      "files": ["./src/app/**/*.ts?(x)"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/naming-convention": "off"
      }
    }
  ]
}
