name: digitaler-schulhof
version: "3.8"

services:
  arangodb:
    image: arangodb:3.10
    ports:
      - "8529:8529"
    environment:
      - ARANGO_NO_AUTH=1
    volumes:
      - arangodb:/var/lib/arangodb3
    restart: always
volumes:
  arangodb:
