{
  "parserOptions": {
    "project": true
  },
  "overrides": [
    {
      "files": ["src/resolvers/**/*.resolve.ts"],
      "rules": {
        "@typescript-eslint/naming-convention": "off"
      }
    },
    {
      "files": ["**/__tests__/**/*"],
      "rules": {
        "@typescript-eslint/no-invalid-void-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/naming-convention": "off"
      }
    }
  ]
}
