{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": true
  },
  "rules": {
    "prettier/prettier": "error",
    // I know what I'm doing
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/require-await": "off",
    "@typescript-eslint/no-invalid-void-type": "off",

    "@typescript-eslint/consistent-type-definitions": "off",

    // Mostly handled by TS warnings
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",

    // Covered by @typescript-eslint/no-explicit-any
    "@typescript-eslint/no-unsafe-return": "off",
    // There is no difference between interface/type in these cases, and the once I chose expresses what I want better
    "@typescript-eslint/no-empty-interface": "off",

    // Want these
    "@typescript-eslint/explicit-module-boundary-types": "warn",
    "@typescript-eslint/naming-convention": "warn",
    "@typescript-eslint/switch-exhaustiveness-check": "warn"
  },
  "overrides": [
    {
      "files": ["src/resolvers/**/*.resolve.ts"],
      "rules": {
        "@typescript-eslint/naming-convention": "off"
      }
    },
    {
      "files": ["**/__tests__/**/*"],
      "rules": {
        "@typescript-eslint/no-invalid-void-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    }
  ]
}
