{
  "parserOptions": {
    "project": true
  },
  "rules": {
    // Make no sense with React components
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/naming-convention": "off"
  },
  "overrides": [
    {
      "files": ["./src/**/*.ts?(x)"],
      "extends": [
        "plugin:jsx-a11y/recommended",
        "next",
        "plugin:prettier/recommended"
      ],
      "rules": {
        // This doesn't work with memoized callbacks
        "@typescript-eslint/no-misused-promises": [
          "error",
          {
            "checksVoidReturn": {
              "attributes": false
            }
          }
        ]
      }
    }
  ]
}
